
<div class="select">
  <select name="" id="">
    <option value="请选择">请选择</option>
  </select>
  <div class="search">
    <input type="text">
    <div>
      <img src="/images/后台管理UI素材/切图/放大镜.png" alt="">
    </div>
  </div>
  <button id="addBtn">添加</button>
</div>