<!DOCTYPE html>
<html>
<head>
  <title>后台管理系统</title>
  
  <link rel="stylesheet" href="/stylesheets/common.css">
  
  <style>
    body{
      background: rgb(250, 168, 180);
    }
    .main{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      /* color: rgb(221, 120, 252); */
      color: #fff;
      text-align: center;

    }
    /* img{
      width: 576px;
      height: 324px;
    } */
  </style>
</head>

<body>
  <div class="main">
    <img src="/images/Natsuki_han.jpg" alt="">
     <!-- <img src="/images/Monika_scare.jpg" alt=""> -->
    <h1><%= message %></h1>
  </div>
</body>
</html>

